@model RegisterViewModel
@{
    ViewData["Title"] = "Kaydol";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Kaydol</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form asp-controller="Register" asp-action="Index" method="post" asp-antiforgery="true">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Name">Ad Soyad</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="Ad soyad" required>
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="Mail">Email</label>
                            <input asp-for="Mail" type="email" class="form-control" placeholder="Email" required>
                            <span class="text-danger" asp-validation-for="Mail"></span>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Password">Şifre</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Şifre" required>
                            <span class="text-danger" asp-validation-for="Password"></span>

                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="ConfirmPassword">Şifre Tekrar</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Şifre tekrar" required>
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Kaydol</button>
                    <p>
                        Zaten Üye misiniz? <a asp-controller="Account" asp-action="Login">Giriş Yap</a>
                    </p>
                </form>

            </div>
        </div>
    </div>
</section>