@model Blog

@{
    ViewData["Title"] = "Blog Ekle";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}

<h1>Blog Ekle</h1>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

<form asp-controller="Blog" asp-action="BlogAdd" asp-area="Writer" method="post" asp-antiforgery="true" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Başlık</label>
        <input id="blogTitle" type="text" class="form-control" asp-for="Title" placeholder="Başlık" required="">
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Slug" class="form-label">Sayfa Url</label>
        <input id="blogSlug" type="text" class="form-control" asp-for="Slug" placeholder="Sayfa Url" required="" >
        <span class="text-danger" asp-validation-for="Slug"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ThumbnailImage" class="form-lab">Küçük Resim</label>
        <input type="file" class="form-control-file" asp-for="ThumbnailImage">
        <span class="text-danger" asp-validation-for="ThumbnailImage"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label">Resim</label>
        <input type="file" class="form-control-file" name="blogImage" required="">
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Kategori Seçiniz</label>
        <select asp-for="CategoryId" class="form-control" required="">
            <option selected>Kategori Seçiniz</option>
            @if (ViewBag.Categories != null)
            {
                @foreach (var category in (List<SelectListItem>)ViewBag.Categories)
                {
                    <option value="@category.Value">@category.Text</option>
                }
            }

        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>
    <div class="mb-3">
        <textarea cols="15" asp-for="Content" id="summernote"></textarea>
        <span class="text-danger" asp-validation-for="Content"></span>
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>


<script>
    $('#summernote').summernote({
        placeholder: 'İçeriğinizi yazınız',
        tabsize: 2,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
    $("#blogTitle").change(function (e) {
        var title = e.target.value.toString()
            .toUpperCase().toLowerCase().trim().normalize('NFD')
            .replace(/\s+/g, "-")
            .replace(/[^\w\-]+/g, "")
            .replace(/[~`!@@#$%^&*()+={}\[\];:\'\"<>.,\/\\\?-_]/g, "");

        $("#blogSlug").val(title);
    });

</script>
