@model List<Blog>
@{
    ViewData["Title"] = "Yazarın Blogları";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}

<h1>Blog Listesi</h1>
<div id="blogApp">
    <div class="d-flex justify-content-between">
        <input v-on:keyup="searchBlog" v-model="searchItem" type="search" class="form-control col-6" placeholder="Arama">
        <a class="btn btn-primary" asp-controller="Blog" asp-action="BlogAdd">Blog Ekle</a>
    </div>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>Id</th>
                <th>Başlık</th>
                <th>Oluşturulma Tarihi</th>
                <th>Kategori</th>
                <th>Durum</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>

            <tr v-for="blog in blogList" :key="blog.blogId">
                <td>{{blog.blogId}} </td>
                <td>{{blog.title}}</td>
                <td>{{blog.createDate}}</td>
                <td>{{blog.name}}</td>
                <td>{{blog.status ? 'Aktif' : 'Pasif'}}</td>
                <td>
                    <a :href='"/yazar/blog-duzenle/" + blog.blogId' class="btn btn-warning">Düzenle</a>
                    <a v-if="blog.status==true" class="btn btn-danger" @@click="blogStatus(blog.blogId)">Pasif Yap</a>
                    <a v-else class="btn btn-success" @@click="blogStatus(blog.blogId)">Aktif Yap</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    var blogApp = new Vue({
        el: "#blogApp",
        data() {
            return {
                searchItem: null,
                blogList:  @Json.Serialize(Model.Select(x=> new { x.BlogId , x.Title , x.CreateDate , x.Category.Name , x.Status })),
                filteredList:[]
            }
        },
        methods: {
            searchBlog() {

                if (this.searchItem !== null && this.searchItem !== "" && this.searchItem.length > 1 ) {
                    this.filteredList = this.blogList.filter(x => x.title.toLowerCase().indexOf(this.searchItem.toLowerCase()) !== -1 ||
                    x.name.toLowerCase().indexOf(this.searchItem.toLowerCase()) !== -1);
                     this.blogList = this.filteredList;
                }else {
                    this.blogList = @Json.Serialize(Model.Select(x=> new { x.BlogId , x.Title , x.CreateDate , x.Category.Name , x.Status }));
                }
            },
            blogStatus:function(id) {

                $.ajax({
                    type: "POST",
                    url: "/Writer/Blog/StatusUpdate",
                    data: {blogId : id},
                    success: function (result) {
                        if (result.success) {
                            window.location.href = "/Writer/Blog/GetBlogListByWriter";

                        } else {
                            console.log(result);
                        }
                    }
                });
            }
        }
    })
</script>