<div class="tech-btm">
    <form method="post" onsubmit="return false;">
        <input id="mail" name="Mail" type="email" placeholder="Email" required="required">
        <span style="display: none;" id="message"></span>
        <input id="newsLetterPost" type="submit" value="Abone Ol">
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $("#newsLetterPost").click(function (event) {

        var mail = $("#mail").val();
        var message = $("#message");

        event.preventDefault();

         $.ajax({

            type: "POST",
            url: '@Url.Action("SubscribeMail", "NewsLetter")',
            data: { Mail: mail },
            dataType: "json",
            success: function (data) {
                 message.css({ "display": "block" });

                if (data.success) {
                    message.html(data.message).css({"color":"green"});
                } else {
                    console.log(data);
                    message.html(data.data.filter(x=>x.propertyName=='Mail')[0].errorMessage).css({ "color": "red" });
                }
            }
         });
    });

</script>