<div class="tech-btm">
    <form method="post" onsubmit="return false;">
        <input id="mail" name="Mail" type="email" placeholder="Email" required="">
        <span style="display: none;" id="message"></span>
        <input id="newsLetterPost" type="submit" value="Abone Ol">
    </form>
</div>
<script>
    var subscribeMailUrl= @Url.Action("SubscribeMail", "NewsLetter")
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/newsltetter/newsletter.js"></script>

