@model List<Dtos.Blog.BlogDto>

@foreach (var blog in Model)
{
    <div class="blog-grids row mb-3">
        <div class="col-md-5 blog-grid-left">
            <a target="_blank" asp-controller="Blog" asp-action="BlogDetails" asp-route-blogSlug="@blog.Slug">
                <img src="~/CoreBlogTema/images/4.jpg" class="card-img-top img-fluid" alt="">
            </a>
        </div>
        <div class="col-md-7 blog-grid-right">

            <h5>
                <a target="_blank" asp-controller="Blog" asp-action="BlogDetails" asp-route-blogSlug="@blog.Slug">@blog.Title </a>
            </h5>
            <div class="sub-meta">
                <span>
                    <i class="far fa-clock"></i> @blog.CreateDate.ToShortDateString()
                </span>
            </div>
        </div>

    </div>
}
