@model dynamic

<div class="comment-top" id="commentApp">
    <h4>Yorum yap</h4>
    <div class="comment-bottom">
        <form method="post" onsubmit="return false;">
            <input v-model="form.blogId" type="hidden" name="BlogId" readonly="readonly" />
            <span class="text-danger" v-if="form.blogId == 'null' "> {{ validationErrors.filter(x=>x.propertyName=='BlogId')[0].errorMessage }}</span>

            <input v-model="form.userName" class="form-control" type="text" name="UserName" placeholder="Kullanıcı Adı" required="">
            <span class="text-danger" v-if="validationErrors.length > 0"> {{ validationErrors.filter(x=>x.propertyName=='UserName')[0].errorMessage }}</span>

            <input v-model="form.title" class="form-control" type="text" name="Title" placeholder="Başlık" required="">
            <span class="text-danger" v-if="validationErrors.length > 0"> {{ validationErrors.filter(x=>x.propertyName=='Title')[0].errorMessage }}</span>

            <textarea v-model="form.content" cols="8" class="form-control" name="Content" placeholder="Yorum..." required=""></textarea>
            <span class="text-danger" v-if="validationErrors.length > 0"> {{ validationErrors.filter(x=>x.propertyName=='Content')[0].errorMessage }}</span>
            <br/>
            <button @@click="commentPost" type="submit" class="btn btn-primary submit">Gönder</button>
        </form>
    </div>
</div>
<style>
    .text-danger {
        color: red;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var commentApp = new Vue({
        el: "#commentApp",
        data() {
            return {
                form: {
                    blogId: @Model.BlogId,
                    userName: null,
                    title: null,
                    content: null
                },
                validationErrors:[]
            }
        },
        methods: {
            commentPost() {

                var config = {
                    headers: {
                        'content-type': 'application/json',
                        'Accept': 'application/json'
                    }
                }

                axios.post("/Comment/AddComment", this.form,config)
                    .then(res => {
                        if (!res.success) {
                            this.validationErrors = res.data.data;
                        } else {
                            console.log(res.data.message);
                            this.form.userName = "";
                            this.form.title = "";
                            this.form.content = "";
                        }
                    });
            }
        }
    });
</script>
