<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>@ViewContext.RouteData.Values["Controller"]</a>
            </li>
            <li class="breadcrumb-item">
                <a>@ViewContext.RouteData.Values["Action"]</a>
            </li>
        </ol>
    </div>
</div>