@model WriterProfileUpdateViewModel
@{
    ViewData["Title"] = "Profil Düzenle";
    Layout = "~/Areas/Writer/Views/Shared/_WriterLayout.cshtml";
}

<link href="~/css/writer/imageupload.css" rel="stylesheet" />
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Düzenle</h4>
            <form asp-area="Writer" asp-controller="Writer" asp-action="EditProfile" asp-antiforgery="true" enctype="multipart/form-data" method="post" class="forms-sample">
                <div class="form-group">
                    <label asp-for="Name">İsim</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="İsim">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mail">Email</label>
                    <input asp-for="Mail" type="email" class="form-control" placeholder="Email">
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="file-input">
                        <input name="writerImage" type="file" id="file" class="file">
                        <label class="d-flex justify-content-around" for="file">
                            Dosya Seçiniz
                            <p class="file-name"></p>
                        </label>
                    </div>
                </div>
                <div class="form-group d-flex flex-column">
                    <label>Seçili Görsel</label>
                    <img class="img-thumbnail" width="180" src="~/images/@Model.Image" alt="Blog Resmi" />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Şifre</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Şifre">
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="About">Açıklama</label>
                    <textarea class="form-control" rows="7" asp-for="About"></textarea>
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
            </form>
        </div>
    </div>
</div>
<script src="~/js/writer/editprofile.js"></script>